*{
    margin: 0px;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}
.logo{
    height: 50px;
    width: 250px;
}
.but1{
    background-color: blue;
    height: 50px;
    width: 100px;
    margin-left: 400px;
}
nav{
    margin-left: 50px;
}
.list{
    margin-left: 30px;
    margin-top: 50px;
    color: black;
    text-decoration: none;
    justify-content: space-evenly;
}
.list:hover{
    color: #034BFF;
        text-decoration: underline;
    text-underline-offset: 5px;
}
main{
    font-family: "Inter", sans-serif;
}
.hero{
    background-color: #08111D;
    width: 100%;
    display: flex;

    margin: 0;
}
.left{  
    width: 50%;
    margin-left: 50px;
    margin-top: 30px;
}
.c{
    font-weight: 900;
    font-size: 76px;
    color: white;
    width: 363px;
    height: 91px;
}
.right{
    width: 50%;
} 
.l{
    font-weight: 900;
    font-size: 88px;
    width: 202px;
    height: 106px;   
    margin-top:0px ;
    color:#034BFF;
}
.s{
    font-weight: 900;
    font-size: 66px;
    width: 65px;
    height: 79px;
    margin-top: 0px;
    margin-left: 50px;
    color: #C7F64A;
}
.b{
    display: flex;
}
.v{
    font-weight: 800;
    font-style: bold;
    font-size: 26px;
    color: #FFFFFF;
}
.long1{
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}
.but{
    display: flex;
    margin-top: 50px;
    gap: 50px;
}
.dlc{
    width: 184px;
    height: 42px;
    background-color: #034BFF;
    color: #FFFFFF;
}
.vle{
    width: 184px;
    height: 42px;
    background-color: #08111D;
    color: #FFFFFF;
}
.shapes{
    display: flex;
    margin-top: 20px;
}
.circle1{
    background-color: #B8C9CF;
    width: 27px;
    height: 27px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.circle2{
    background-color: #D7C3B6;
    width: 27px;
    height: 27px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.txt{
    color: #FFFFFF;
    margin-top: 20px;
}
.bules{
    display: flex;
    gap: 20px;
}
.stats{
justify-content: space-evenly;
display: flex;
padding: 20px;
width: 100%;
}
.shape{
    color: #034BFF;
}
.statpart1{
    display: flex;
    gap: 20px;
}
.statpart2{
    display: flex;
    gap: 20px;
}
.statpart3{
    display: flex;
    gap: 20px;
}
.statpart4{
    display: flex;
    gap: 20px;
}
.campus{
    margin: 0px;
    background-color: #F4F7FC;
    height: 282px;
    margin-top: 0px;
    padding-top: 30px;
}
.right1{
    width: 50%;
    margin-left: 50px;
}
.subheader{
    color: #034BFF;
    font-size: 10px;
    font-weight: 400;
}
.big1{
    margin-top: 20px;
    font-size: 33px;
    font-weight: 800;
}
.big2{
    margin-top: 0px;
    font-size: 33px;
    font-weight: 800;
}
.txt1{
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
}
.txt2{
    margin-top: 5px;
    font-weight: 400;
    font-size: 14px;
}
.elc{
    margin-top: 20px;
    width: 179px;
    height: 42px;
    background-color: #034BFF;
    color: #FFFFFF;
}